#imagcap5 {
    display: block;
    margin: 20px auto;
    width: 60%;
}

#btn-container {
    margin-bottom: 30px;
}

#objetivos {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 15px;
}

#img2 {
    width: 30dvw;
}

.indicadores {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#img3 {
    width: 30dvw;
}

.inditext{
    padding-right: 50px;
}