#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card h3 {
    font-size: 1.8rem;
}

.card h5 {
    font-size: 1.5rem;
}

.card p, .card small {
    font-size: 1.3rem;
}